<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>AndyJeancaDesign</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            body{margin:40px; background: #665;}
            #_Canvas{background: #6990AE; border: #000 1px solid;}
        </style>
    </head>
    <body>
        <script src="../Model/FigureClass.js"></script>
        <script src="../Model/CircleClass.js"></script>
        <script src="../Model/ArcClass.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>
        <canvas id="_Canvas" width="1100" height="600"></canvas>
    </body>