<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>AndyJeancaDesign</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        
        <p id="demoColor">demoColor</p>
        <button type="button" onclick="testParse()">Inheritance</button>
        <div>:)</div>
        <script src="../Model/FigureClass.js"></script>
        <script src="../Model/CircleClass.js"></script>
        <script src="../Model/ArcClass.js"></script>
    </body>